{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit product{% endblock %}

{% block content %}
  <h2 class="text-center mt-3">Edit Product</h2>
  <div class="card m-5 p-5 card-color">
    <form method="post" enctype="multipart/form-data" id="myUniqueUploadId">
      {% csrf_token %}
      {{ form|crispy }}
      <div id="div_id_images">
        <label>
          Upload Images*
        </label>
        <label class="mt-2">
          <input name="photo" type="file" class="form-control" accept="image/*" multiple aria-label="Choose File" >
        </label>
      </div>
      <button type="submit" class="btn btn-submit">Edit</button>
      <a href="{% url 'products' %}" class="btn btn-submit">Back</a>
    </form>
  </div>    
{% endblock %}