.shopping{
    width: 80rem;
}

.btn-submit{
    background-color: #385A64;
    color: white;
}

.card-color{
    background-color: #bfc8ca;
}

.profile{
    width: 3rem;
    height: 3rem;
}

.product-image-list{
    height: 25rem;
}

.product-image-detail{
    height: 50rem;
}

.add-to-cart{
    background-color: #2a4b55;
    color: white;
}